*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}
.body{
    overflow-x:hidden;
}
.full_section{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(21, 28, 65, 0.9), rgba(20, 25, 53, 0.9));

    background-size: cover;
    background-position: center;
    position: relative;
}
.full_body{
    width: 1280px;
    max-width: 95%;
    margin: 0px auto;
    padding: 0px 20px;
}
header{
    padding: 40px 0px 30px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: space-between;
    

}
.logo .material-symbols-outlined{
    width: 55px;
    height: 55px;
    border: 2px solid white;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    background: transparent;
    cursor: pointer;
    justify-content: center;
    color: rgb(171, 134, 205);
    background-color: transparent;
    position: fixed;
    
}
.logo h1{
    font-family: 'Explora', cursive;
    margin-left: -13px;
    margin-top: 52px;
    color: rgb(255, 255, 255);
    position: fixed;
}
.material-symbols-outlined {
     font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 200,
    'opsz' 48
}
.material-symbols-outlined.md-36{
    font-size: 32px;
}
nav{
    margin-left: 52%;
}
nav .humb{
    
    width: 35px;
    height: 24px;
    right: 3%;
    top: 60px;
    z-index: 5;
    background: transparent;
    position: absolute;
    cursor: pointer;
    display: none;
}
nav .humb span{
    display: block;
    background:rgb(230, 172, 64);
    width: 100%;
    height: 3px;
    transition: .3s;
    transition-property: transform , opacity;
}
nav .humb span:nth-child(2){
    margin: 7px 0;
}
nav .nav_list{
    list-style: none;
}
nav .nav_list li{
    display: inline-block;
    
}
nav .nav_list li a{
   text-decoration: none;
   margin-left: 45px;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    color:white;
    cursor: pointer;
    
}
nav .nav_list li span{
    cursor: pointer;
    
}
nav .nav_list li:not(:first-child) span a:hover{
   
    color: rgb(91, 101, 80);
    transform: .3s;
    text-decoration: underline;
}
nav .nav_list li.clubtn a{
    display: inline-block;
    background: transparent;
    border: 2px solid white;
    padding: 10px 5px;
    border-radius: 25%;
    line-height: 1.5;
    color: darkgoldenrod;
}
nav .nav_list li.clubtn:hover a{
    background-color: darkgoldenrod;
    border: 2px solid transparent;
    color:greenyellow;
    transition: .4s;
    transform: rotate(360deg);
}
nav .nav_list li.clubtn:active a{
    background-color: goldenrod;
}
.container{
    margin-top: 170px;
    margin-left: 30%;
}
.container .search{
    margin-bottom: 40px;
}
.container .search h1{
    font-size: 20px;
    font-weight: 400;
    margin-top: -50px;
    
}
.search_bar{
    width: 100%;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    padding: 10px 20px;
    align-items: center;
    border-radius: 60px;
    margin-left: -100px;
    backdrop-filter: blur(4px) saturate(180%);
}
.search_bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #cac7ff;
}
::placeholder{
    color: #cac7ff;
}
.search_bar button span{
    width: 45px;
}
.search_bar button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #58629b;
    cursor: pointer;
    
}
.boxes{
    width: 45%;
    height: 467px;
    margin:  auto;
    
    
    
}
.box{
    width: 40%;
    height: 180px;
    margin: auto;
    float: left;
    margin:20px 20px;
    cursor: pointer;

}
.caption{
    height: 30%;    
    
        border-top-left-radius:  30px;
        background:linear-gradient(rgba(32, 126, 66, 0.9), rgba(137, 137, 58, 0.9));
        align-items: center;
        padding: 18px;
}
.discripion{
    height: 50%;
    
    border-top: none;
    border-bottom-right-radius: 30px;
    background:linear-gradient(rgba(21, 23, 30, 0.9), rgba(20, 25, 53, 0.9));

}
.discripion:hover ~ .caption{
    border:2px outset;
    border-color: linear-gradient(rgba(255,101,.5,0),rgba(255,101,.5,0));
}


